<h3>&zwnj;<a name="__broken_link_name__" href="SiteManager?ctfn=hierarchy&amp;fnno=10&amp;sid=67707&amp;cid=202075&amp;lang=en&amp;sslinkid=5" title="Home &raquo; Information Technology Services &raquo; ITS &raquo; ITS Development &raquo; rpretzer &raquo; KBA &raquo; ITS KBA 84556 Types Of Desk Phones: tso-models" style="border: 5px double red;">&zwnj;</a>On this page</h3>
<p><a href="#hardware">Telephone hardware</a></p>
<p><a href="#pricing">Associated services, and rates</a></p>
<p><a href="SiteManager?ctfn=hierarchy&amp;fnno=10&amp;sid=36391&amp;lang=en&amp;sslinkid=12" title="Home &raquo; Information Technology Services &raquo; ITS &raquo; KBA &raquo; ITS KBA 23740 Faceplate Number: tso-prices | Links to: Home &raquo; Information Technology Services &raquo; ITS &raquo; KBA &raquo; ITS KBA 23740 Faceplate Number">Faceplate&nbsp;identification</a></p>
<p><a href="#common">Common definitions</a></p>
<p>Learn more about telephone hardware that CWRU ITS recommends for use with our network, associated services, and rates. This guide also outlines the cost of recommended hardware. Prices subject to change at any time without notice.</p>
<p>Not sure where to plug your phone in? Read more about Faceplate identification in the links above.</p>
<h3>More help</h3>
<p>Need more information? Click on Common definitions above or for personal help, contact the <strong>ITS Service Desk</strong> anytime at <strong>216.368.HELP (4357)</strong>.</p>
<hr />
<h3>TSO Order Forms</h3>
<p>To add more orders of single type to a TSO order form, download the appropriate excel sheet from the list below and attach it to your initial order.</p>
<ul>
<li><span id="media-213053-0.6825489179042327" class="mceNonEditable"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=510712416">Accesories Spare Parts and Phones</a></span>&zwnj;</li>
<li><span id="media-203300-0.6851649756637347" class="mceNonEditable"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2133345549">Activate a Phone I have</a></span>&zwnj;</li>
<li><span id="media-203302-0.5799000643437636" class="mceNonEditable"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=882937735">Activate Faceplate</a></span>&zwnj;</li>
<li><span id="media-203303-0.5985179938348538" class="mceNonEditable"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=335203606">Activate Toll Free WebEx</a></span>&zwnj;</li>
<li><span id="media-203304-0.08854625899943691" class="mceNonEditable"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=591460582">Add Multiple Phone Numbers</a></span>&zwnj;</li>
<li><span id="media-203305-0.6688678580398505" class="mceNonEditable"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=496221499">Change Call Restriction</a></span>&zwnj;</li>
<li><span id="media-203308-0.3728966083747537" class="mceNonEditable"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1537851097">Change Name on Phone</a></span>&zwnj;</li>
<li><span id="media-203309-0.12536696862039864" class="mceNonEditable"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=227667981">Change Pinnacle Contact</a></span>&zwnj;</li>
<li><span id="media-203310-0.5026301830941113" class="mceNonEditable"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1171081102">Change Speed Type</a></span>&zwnj;</li>
<li><span id="media-203312-0.8583631509790118" class="mceNonEditable"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1140581715">Disconnect Phone Number</a></span>&zwnj;</li>
<li><span id="media-203314-0.3116058734938735" class="mceNonEditable"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1314378286">Move a Line</a></span>&zwnj;</li>
<li><span id="media-203315-0.4352869982515194" class="mceNonEditable"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=288330599">Order New Phone With Line</a></span>&zwnj;</li>
<li><span id="media-213052-0.9930349185517835" class="mceNonEditable"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=363849347">Order New Phone with Existing Line</a></span>&zwnj;</li>
<li><span id="media-213790-0.10100382237879268" class="mceNonEditable"><a href="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=449510310">Centrex Order</a></span>&zwnj;</li>
</ul>
<hr />

<h2 id="hardware">Telephone Hardware and Parts Descriptions</h2>
<p><strong>Prices subject to change at any time without notice.</strong></p>

<table class="table" align="left">
<tbody>
	<tr>
		<td scope="col" valign="top">
		<h4>Cisco IP Phone 7821</h4>
			<ul>
				<li>2 lines</li>
				<li>Ethernet: 10/100</li>
				<li><strong>$102.00</strong></li>
				<a href="http://www.cisco.com/c/en/us/products/collaboration-endpoints/unified-ip-phone-7821/index.html" target="_blank">More about this phone &raquo;</a>
			</ul>
		</td>
		<td>&nbsp;<span id="media-202044-0.8873586915305989" class="mceNonEditable" title="{attributes: {   &quot;alt&quot;: &quot;&quot;,   &quot;caption&quot;: &quot;&quot;,   &quot;cp-enable&quot;: &quot;false&quot;,   &quot;float&quot;: &quot;right&quot;,   &quot;margin&quot;: &quot;&quot;,   &quot;widthpercentage&quot;: &quot;50&quot; }}"><span class="fig-img-right" style="width: 50%;"><img src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=269184888" class="fig-img" /></span></span>&zwnj;</td>
	</tr>
	<tr>
		<td scope="col" valign="top">
		<h4>Cisco IP Phone 7841</h4>
			<ul>
				<li>4 lines</li>
				<li>Ethernet: 10/100/1000</li>
				<li><strong>$146.00</strong></li>
				<a href="http://www.cisco.com/c/en/us/products/collaboration-endpoints/unified-ip-phone-7841/index.html" target="_blank">More about this phone &raquo;</a>
			</ul>
		</td>
		<td><span id="media-202038-0.6808743662722228" class="mceNonEditable" title="{attributes: {   &quot;alt&quot;: &quot;&quot;,   &quot;caption&quot;: &quot;&quot;,   &quot;cp-enable&quot;: &quot;false&quot;,   &quot;float&quot;: &quot;right&quot;,   &quot;margin&quot;: &quot;&quot;,   &quot;widthpercentage&quot;: &quot;50&quot; }}"><span class="fig-img-right" style="width: 50%;"><img src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1731666433" class="fig-img" /></span></span>&zwnj;&nbsp;</td>
	</tr>
	<tr>
		<td scope="col" valign="top">
		<h4>Cisco IP Phone 7861</h4>
			<ul>
				<li>16 lines</li>
				<li>Ethernet: 10/100</li>
				<li><strong>$158.00</strong></li>
				<a href="http://www.cisco.com/c/en/us/products/collaboration-endpoints/unified-ip-phone-7861/index.html" target="_blank">More about this phone &raquo;</a>
			</ul>
		</td>
		<td>&nbsp;<span id="media-202041-0.08214961890681027" class="mceNonEditable" title="{attributes: {   &quot;alt&quot;: &quot;&quot;,   &quot;caption&quot;: &quot;&quot;,   &quot;cp-enable&quot;: &quot;false&quot;,   &quot;float&quot;: &quot;right&quot;,   &quot;margin&quot;: &quot;&quot;,   &quot;widthpercentage&quot;: &quot;50&quot; }}"><span class="fig-img-right" style="width: 50%;"><img src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=309967227" class="fig-img" /></span></span>&zwnj;</td>
	</tr>
	<tr>
		<td scope="col" valign="top">
		<h4>Cisco IP Phone 8841</h4>
			<ul>
				<li>5 lines</li>
				<li>Ethernet: 10/100/1000</li>
				<li><strong>$198.00</strong></li>
				<a href="http://www.cisco.com/c/en/us/products/collaboration-endpoints/ip-phone-8841/index.html" target="_blank">More about this phone &raquo;</a>
			</ul>
		</td>
		<td>&nbsp;<span id="media-202045-0.36965174314369287" class="mceNonEditable" title="{attributes: {   &quot;alt&quot;: &quot;&quot;,   &quot;caption&quot;: &quot;&quot;,   &quot;cp-enable&quot;: &quot;false&quot;,   &quot;float&quot;: &quot;right&quot;,   &quot;margin&quot;: &quot;&quot;,   &quot;widthpercentage&quot;: &quot;50&quot; }}"><span class="fig-img-right" style="width: 50%;"><img src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=628528187" class="fig-img" /></span></span>&zwnj;</td>
	</tr>
	<tr>
		<td scope="col" valign="top">
		<h4>Cisco IP Phone 8851</h4>
			<ul>
				<li>5 lines</li>
				<li>Ethernet: 10/100/1000</li>
				<li>supports expansion modules (1 without power, 2 with external power)</li>
				<li>Suitable for small to medium sized conference rooms</li>
				<li><strong>$238.00</strong></li>
				<a href="http://www.cisco.com/c/en/us/products/collaboration-endpoints/ip-phone-8851/index.html" target="_blank">More about this phone &raquo;</a>
			</ul>
		</td>
		<td>&nbsp;<span id="media-202039-0.35970892577208324" class="mceNonEditable" title="{attributes: {   &quot;alt&quot;: &quot;&quot;,   &quot;caption&quot;: &quot;&quot;,   &quot;cp-enable&quot;: &quot;false&quot;,   &quot;float&quot;: &quot;right&quot;,   &quot;margin&quot;: &quot;&quot;,   &quot;widthpercentage&quot;: &quot;50&quot; }}"><span class="fig-img-right" style="width: 50%;"><img src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1245543516" class="fig-img" /></span></span>&zwnj;</td>
	</tr>
	<tr>
		<td scope="col" valign="top">
		<h4>Handset Cord</h4>
			<ul>
				<li>2 FT Coiled 12 Ft Uncoiled</li>
				<li>RJ22</li>
				<li>Gold Plated Contacts</li>
				<li>PVC Jacket</li>
				<li>UL Listed</li>
				<li>Medium Gray</li>
				<li><strong>$3.99</strong></li>
			</ul>
		</td>
		<td><span id="media-202048-0.47577220735230663" class="mceNonEditable" title="{attributes: {   &quot;alt&quot;: &quot;&quot;,   &quot;caption&quot;: &quot;&quot;,   &quot;cp-enable&quot;: &quot;false&quot;,   &quot;float&quot;: &quot;right&quot;,   &quot;margin&quot;: &quot;&quot;,   &quot;widthpercentage&quot;: &quot;50&quot; }}"><span class="fig-img-right" style="width: 50%;"><img src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1497051495" class="fig-img" /></span></span>&zwnj;&nbsp;</td>
	</tr>
	<tr>
		<td scope="col" valign="top">
		<h4>Expansion Module</h4>
			<ul>
				<li>Adds fourteen buttons for either additional lines or speed dial numbers</li>
				<li>Includes new base and power cord</li>
				<li>Must be ordered from the vendor</li>
				<li><strong>Price: Contact vendor</strong></li>
			</ul>
		</td>
		<td>&nbsp;<span id="media-202046-0.3629075465587218" class="mceNonEditable" title="{attributes: {   &quot;alt&quot;: &quot;&quot;,   &quot;caption&quot;: &quot;&quot;,   &quot;cp-enable&quot;: &quot;false&quot;,   &quot;float&quot;: &quot;right&quot;,   &quot;margin&quot;: &quot;&quot;,   &quot;widthpercentage&quot;: &quot;50&quot; }}"><span class="fig-img-right" style="width: 50%;"><img src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=413133157" class="fig-img" /></span></span>&zwnj;</td>
	</tr>
	<tr>
		<td scope="col" valign="top">
		<h4>Linksys SE1500 5 Port Fast Ethernet Switch</h4>
			<ul>
				<li>Linksys SE1500 10/100 5 Port Switch</li>
				<li>Includes power adapter</li>
				<li><strong>$19.00</strong></li>
			</ul>
		</td>
		<td>&nbsp;<span id="media-202036-0.6276738359909487" class="mceNonEditable" title="{attributes: {   &quot;alt&quot;: &quot;&quot;,   &quot;caption&quot;: &quot;&quot;,   &quot;cp-enable&quot;: &quot;false&quot;,   &quot;float&quot;: &quot;right&quot;,   &quot;margin&quot;: &quot;&quot;,   &quot;widthpercentage&quot;: &quot;50&quot; }}"><span class="fig-img-right" style="width: 50%;"><img src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1543230367" class="fig-img" /></span></span>&zwnj;</td>
	</tr>
	<tr>
		<td scope="col" valign="top">
		<h4>Cisco Unified Wideband Handset</h4>
			<ul>
				<li>Compatible with Cisco IP phones</li>
				<li><strong>$25.00</strong></li>
			</ul>
		</td>
		<td><span id="media-202049-0.6588722462740539" class="mceNonEditable" title="{attributes: {   &quot;alt&quot;: &quot;&quot;,   &quot;caption&quot;: &quot;&quot;,   &quot;cp-enable&quot;: &quot;false&quot;,   &quot;float&quot;: &quot;right&quot;,   &quot;margin&quot;: &quot;&quot;,   &quot;widthpercentage&quot;: &quot;50&quot; }}"><span class="fig-img-right" style="width: 50%;"><img src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=2022228935" class="fig-img" /></span></span>&zwnj;&nbsp;</td>
	</tr>
	<tr>
		<td scope="col" valign="top">
		<h4>Power Supply</h4>
			<ul>
				<li>Replacement power supply for most Cisco CP- 79XX series IP phones.</li>
				<li>Compatible models include 7902G, 7910G+SW, CP-7940G 7905G, CP-7912G, CP-7960G 7910G, CP-7914.</li>
				<li><strong>$22.00</strong></li>
			</ul>
		</td>
		<td><span id="media-202051-0.08122699274889933" class="mceNonEditable" title="{attributes: {   &quot;alt&quot;: &quot;&quot;,   &quot;caption&quot;: &quot;&quot;,   &quot;cp-enable&quot;: &quot;false&quot;,   &quot;float&quot;: &quot;right&quot;,   &quot;margin&quot;: &quot;&quot;,   &quot;widthpercentage&quot;: &quot;50&quot; }}"><span class="fig-img-right" style="width: 50%;"><img src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1155010355" class="fig-img" /></span></span>&zwnj;&nbsp;<br /><br /></td>
	</tr>
</tbody>
</table>

<hr />
<h2 id="pricing">Hardware and Service Pricing, Telephone Services Rates</h2>
<p>Prices subject to change at any time without notice.</p>
<table class="table table-condensed table-hover" style="height: 825px; width: 1020px;">
<thead>
<tr align="left"><th>Service</th><th>Price or Rate</th></tr>
</thead>
<tbody>
<tr align="left">
<td><strong>CWRU ITS Hardware and Service Pricing</strong></td>
<td>&nbsp;</td>
</tr>
<tr align="left">
<td>New Phone with Number</td>
<td>$75.00 plus cost of phone</td>
</tr>
<tr align="left">
<td>Add a Line</td>
<td>$75.00</td>
</tr>
<tr align="left">
<td>Move a Line</td>
<td>See Phone Service below</td>
</tr>
<tr align="left">
<td>Reprogram replacement Cisco phone</td>
<td>$25.00</td>
</tr>
<tr align="left">
<td>Activate a Faceplate</td>
<td>$75.00</td>
</tr>
<tr align="left">
<td><strong>Telephone Services Rates - General</strong></td>
<td>&nbsp;</td>
</tr>
<tr align="left">
<td>Admin VOIP Voice Line (Case Department)</td>
<td>$23.50 per month</td>
</tr>
<tr align="left">
<td>Student VOIP Voice Line (Housing)</td>
<td>$15.80 per month</td>
</tr>
<tr align="left">
<td>Admin Analog Voice Line (Case Department)</td>
<td>$24.29 per month</td>
</tr>
<tr align="left">
<td><strong>Telephone Services Rates - Phone Service</strong></td>
<td>&nbsp;</td>
</tr>
<tr align="left">
<td>Centrex Only Service Order Processing Fee</td>
<td>$46.80</td>
</tr>
<tr align="left">
<td>AT&amp;T Unit Charge</td>
<td>$100.00</td>
</tr>
<tr align="left">
<td>AT&amp;T Labor Charge&nbsp;<br /><strong>REGULATED</strong>, 1st 15 minutes</td>
<td>$25.00</td>
</tr>
<tr align="left">
<td>AT&amp;T Labor Charge&nbsp;<br /><strong>NON-REGULATED</strong>. each additional 15 minutes</td>
<td>$25.00</td>
</tr>
<tr align="left">
<td>AT&amp;T Labor Charge&nbsp;<br /><strong>REGULATED</strong>, each additional 15 minutes</td>
<td>$10.00</td>
</tr>
<tr align="left">
<td>Case Materials Fee</td>
<td>$10.80 per order</td>
</tr>
</tbody>
</table>
<hr />
<h2 id="common">Common Definitions</h2>
<p><strong>VOIP</strong></p>
<p>Voice over IP (VoIP) is a methodology and group of technologies for the delivery of voice communications and multimedia sessions over Internet Protocol (IP) networks, such as the Internet. Other terms commonly associated with VoIP are IP telephony, Internet telephony, broadband telephony, and broadband phone service.</p>
<p>VoIP is used in conjunction with Cisco Model Telephones on campus.</p>
<h4>VoIP Analog</h4>
<p>Use to connect traditional analog telephones, fax machines, Talk Box, emergency telephones, elevator phones and other similar customer-premises devices to a digital telephone system or a voice over IP telephony network.</p>
<h4>Centrex Analog</h4>
<p>Centrex telephone lines are really just normal telephone lines which provide extended services, typically including:</p>
<ul>
<li>Three-way calling for conference calls</li>
<li>Call transfer (ability to transfer a call to any telephone number)</li>
<li>Caller ID</li>
<li>Voice mail</li>
</ul>
<h4>Where is my MAC Address located?</h4>
<p>The MAC Address can be located on the bottom of your Cisco Phone. The MAC Address sticker will be designated by the work MAC in a raised format next to the correct sticker. The MAC address is always a 12 digit sequence.</p>
<p><span id="media-202050-0.3596452085991123" class="mceNonEditable" title="{attributes: {   &quot;alt&quot;: &quot;&quot;,   &quot;caption&quot;: &quot;&quot;,   &quot;cp-enable&quot;: &quot;false&quot;,   &quot;float&quot;: &quot;left&quot;,   &quot;margin&quot;: &quot;&quot;,   &quot;widthpercentage&quot;: &quot;50&quot; }}"><span class="fig-img-left" style="width: 50%;"><img src="https://webcms.case.edu/terminalfour/SiteManager?ctfn=download&amp;fnno=60&amp;ceid=1795776772" class="fig-img" /></span></span>&zwnj;</p>
<hr />